div.game-container {
    width: 100%;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    background-color: rgba(0, 0, 0, 0.789);
}

.game-search {
    background-color: var(--darkgray);
    border: 1px solid var(--darkpink);
    color: var(--yellow);
}


#dropdown-button-genre {
    min-width: 100px;
}

.dropdown-item {
    .dropdown-menu {
        a {
            min-height: 32px;
            padding: .5rem 1.25rem;
            font-size: 14pt;
            user-select: none;
        }
    }
} 


.game-info {
    background-color: rgb(20, 20, 20);
    border: 1px solid var(--darkpink);
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
    padding: 1rem 1.5rem;
    display: flex;
    column-gap: 1.5rem;
    text-align: left;

    .info {
        flex-grow: 1;
        display: flex;
    }

    h2 {
        font-size: 27px;
        color: var(--lightpink);
    }

    .price-col {
        margin-left: auto; 
        display: flex;
        // column-gap: 25px;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;

        .price-row {
            display: flex;
            align-items: center;
            padding: 0.15rem 0.5rem;
            min-height: 36px;
            background-color: rgb(14, 13, 13);
            border-radius: 5px;
            column-gap: 13px;
            text-align: center;

        }
        .savings-block {
            background-color: #37580c41;
            border-radius: 10px;
            font-size: 16pt;
            font-weight: bold;
            letter-spacing: 1px;
            padding: 0.25rem 0.5rem;
        }

        .btn { 
            padding: 10px 18px;
        }
    }

    .store-img {
       height: 20px;
    }

    .img-link {
        img {
            max-height: 250px;
            max-width: 100%;
            object-fit:contain;
        }

        &:hover {
            filter: brightness(1.2);

        }
    }
}




.sort-row {
    padding: 5px 8%;
    display: flex;
    justify-content: space-between;

    .form-select {
        color: var(--lightpink);

        option:hover, option:focus {
            color: var(--darkpink);
        };

        option:disabled {
            color: var(--yellow)
        }

        option:disabled:active, option:disabled:hover, option:disabled:focus {
            color: black;
        }

    }
    
}

@media screen and (min-width: 1100px){
    div.game-container {
        padding: 2rem 20%;
    }

    .sort-row {
        padding: 5px 15%;
    }
}

@media screen and (max-width: 600px) {
    .game-info {
        flex-direction: column;
        text-align: center;

        .info {
            flex-direction: column;
        }


        .img-link {
            margin-bottom: 0.5rem;
            img {
                width: 100%;
            }
        }

        .price-col {
            width: 100%;
            justify-content: center;
            row-gap: 10px;
            align-items: center;
            flex-direction: column-reverse;
            margin-top: 1rem;

        }
    }
}



