div.game-container {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(245px, 325px));
    grid-template-rows: repeat(auto-fit, minmax(240px, 1fr));
    grid-column-gap: 35px;
    grid-row-gap: 25px;
    justify-content: center;
    width: 100%;
    padding-bottom: 3.5rem;

}

#dropdown-button-genre {
    min-width: 100px;
}

.dropdown-item, .dropdown-menu a {
    min-height: 32px;
    padding: .5rem 1.25rem;
    font-size: 14pt;
}


.game-info.card {
    border: 1px solid var(--darkpink);
    box-shadow: 2px 2px 5px rgb(0, 0, 0);

}

.game-info.card .card-header {
    text-align: left;
    font-size: 24px;
    color: var(--lightpink);
}

.game-info .card-body {
    width: 100%;
    font-size: 18px;
}

.game-info .card-footer {
    font-size: 13pt;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.game-info .card-footer img {
    height: 20px;
}

.game-info a.img-link {
    margin-top: 12px;
    max-height: 115px;
    align-self: center;
}

.game-info .img-link img {
    padding-left: 10px;
    aspect-ratio: 1/1;
    max-height: 100%;
    object-fit:contain;
    /* object-fit: scale-down; */
    min-width: 155px;

}

.game-info .img-link:hover {
    filter: brightness(1.2);
}

.game-info .rating-section {
    border-top: 2px solid var( --lightpink)
}

.game-info .price-tooltip {
    background-color: transparent;
    padding: 0 0 0 5px;
    border: 0;
    font-size: 11pt;
    box-shadow: none;
    color: var(--lightpink)
}


.game-info .underline {
    text-decoration: underline;
    font-size: 20px;
}


.sort-row {
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
    
}

.sort-row .form-select {
    color: var(--lightpink)
}

.sort-row .form-select option:hover, .sort-row .form-select option:focus {
    color: var(--darkpink);
}

.sort-row select option:disabled:active, .sort-row select option:disabled:hover, .sort-row select option:disabled:focus {
    color: black;
}

.sort-row select option:disabled {
    color: var(--yellow)
}

