a, a:visited {color: #f79bca; 
text-decoration: none;}
 
.activeCat {background-color: aqua;}


body {background-color: #0f0b0e;
  background-size: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  color: #e7e3b1;}


.components {position: relative;
  width: 100%;
margin: 0;
  top: 140px;}

.fullPrice {color: rgb(236, 156, 160);
  text-decoration: line-through;}

.GameInfo {background-color: #553439;
border-radius: 4px;
width: 320px;
margin: 0.7% 1.4%;}

.GameInfoContainer {display: flex;
flex-direction: row; 
flex-wrap: wrap;
justify-content: center;
max-width: 100%;}

.gameImage {width: 180px;}

.gameTitle {width: 100%;
white-space: normal;}

.Header {position: fixed;
background-color: #0F0B0E;
z-index: 1;
box-shadow: -1px 0px 8px #18201e;
margin: 0;
padding: 0;
border: none;
width: 100%;}


.Header p {
  font-size: 4.2rem;
  float: left;
  position: relative;
margin: 0;}

.header .column, .header .row {width: 100%;}

.headerContainer .hidden {position: relative;
  margin: 0;
  display: none;
  padding-bottom: 15px;
  box-shadow: -1px 0px 8px #18201e;
  font-size: 15pt;
  top: 110px;}

.hidden a {margin-left: 5%;
margin-right: 5%;}

.headerContainer:hover > .Header  {box-shadow: none;
  border-bottom: 12px solid #0f0b0e;}
  

.piggyBank {width: 80px;
  position: relative;
float: right;}

.salePrice { color: rgb(84, 185, 93);}
.StoreInfo p {margin-top: 0;}

.row {display: flex;
flex-direction: row;}

ul {list-style: none;
margin: 0;
padding: 0;}