a, a:visited {color: #f79bca; 
text-decoration: none;}

a:hover {color: #e7e3b1;}
 
.activeCat { background-color: #f17704!important;
  border: 3px solid #753b04!important;
  box-shadow: inset -1.2px -1.2px 4px #753b04!important;}

body, .headerContainer .hidden {background-color: #0f0b0e;}

body {
  background-size: 100%;
  font-family: 'Oswald', sans-serif;  
  background-position-y: 100px;
  background-image: url('./media/background2.png');
  letter-spacing: 1px;
  text-shadow: 2px 2px 2px #0a0a0a;
  background-attachment: fixed;
  text-align: center;
  margin: 0;
  font-size: 1.5vw;
  padding: 0;
  color: #e7e3b1;}

button, .GameInfo, .gameImage {border-radius: 4px;}

button, .btn-primary, .btn-check:focus+.btn-primary, .btn-primary:focus {
  background-color: #e2879f; 
  letter-spacing: 2px;
  color: #18201e;
  border: 3px solid #893a4d;
  box-shadow: inset -1.2px -1.2px 4px #883560;
}

.btn-check:active+.btn-primary, .btn-primary:active, .btn-primary:hover, .btn-check:checked+.btn-primary, .btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle {   background-color: #e491a7;   border: 3px solid #893a4d;}
button:hover {   background-color: #f7a9be; }


button:active {position: relative;
top: 2px;}

.SortBy button {font-size: 14.5pt;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  margin-bottom: 0.3rem;
  background-color: #e2c956; 
  border: 3px solid #ad6819;
  box-shadow: inset -1.2px -1.2px 4px #ad6819;
}

.SortBy button:hover {  background-color: #e7e3b1;  }

.components {position: relative;
  padding-bottom: 2.5rem;  
  width: 100%;
  min-height: 100vh;
position: relative;
margin: 0;
  top: 165px;}

  .columnPrice {width: 50%;}

  .dropdown-menu {background-color: #2f1a23;
    text-align: center;
    z-index: 1;
    font-size: 15pt;
  border: 2px solid #cf6b85;}

  footer {position: absolute;
    width: 100%;
    z-index: 1;
  bottom: 0;}

.fullPrice {color: #ec9ca0;}

.GameInfo {background-color: #292929;
  padding: 15px;
width: 22%;
margin: 0.7% 1.4%;}

.GameInfo button {margin-bottom: 15px;}

.GameInfoContainer {display: flex;
flex-direction: row; 
flex-wrap: wrap;
justify-content: center;
max-width: 100%;}

.gameImage {width: 260px;
  margin-top: 10px;
margin-bottom: 15px;}

.gameTitle {width: 100%;
white-space: normal;}

.Header {position: fixed;
background-color: #0F0B0E;
z-index: 2;
box-shadow: 0px 3px 8px #18201e;
margin: 0;
height: 100px;
padding: 0;
border: none;
width: 100%;}


.Header p {
  font-family: 'Press Start 2P', cursive; 
  text-shadow: 3px 3px 5px #383838;
  font-size: 4.2rem;
  letter-spacing: 3px;
  float: left;
  position: absolute;
  right: 100px;
margin: 0;}

.header .column, .header .row {width: 100%;}

.headerContainer .hidden {position: fixed;
  width: 100%;
  margin: 0;
  display: none;
  padding-bottom: 15px;
  box-shadow: 0px 3px 8px #18201e;
  font-size: 15pt;
  z-index: 1;
  animation: 1.2s slide-in normal;
  animation-fill-mode: forwards;
  top: 100px;}

@keyframes slide-in { from {top: 20px;}
to {top: 100px;}
}

@keyframes slide-out {from {top: 100px;}
to {top: 20px;}}

.hidden a {margin-left: 5%;
margin-right: 5%;
font-size: 1.6vw;}

.headerContainer:hover > .Header  {box-shadow: none;
  border-bottom: 22px solid #0f0b0e;}

  .pageHeader {font-size: 30pt;
    letter-spacing: 4px;
  color: #d6cf50;}


.piggyBank {width: 80px;
  position: relative;
  padding-top: 5px;
  margin-right: 5px;
float: right;}

.positive {color: rgb(84, 185, 93); }
.salePrice { color: rgb(84, 185, 93);
font-weight: bold;}

.scroll-to-top {position: fixed;
  z-index: 2;
  right: 0.2rem;
bottom: 0.1rem;}

.scroll-to-top button {  background-color: #0f0b0e;
  border-color: #e7e3b1;
  color: #e7e3b1;}

.SortBy {width: 85%;
margin-left: auto;
margin-right: auto;}

.StoreInfo p {margin-top: 0;}

.row {display: flex;
flex-direction: row;}

ul {list-style: none;
margin: 0;
padding: 0;}

.underline {text-decoration: underline;
font-size: 20pt;}